@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap';
* {
    text-decoration: none;
}

body {
    background-color: rgb(17, 16, 16);
    background-size: 1366px 1483px;
    background-position-y: center;
}

.header_itens {
    border: rgb(248, 236, 236) solid 2px;
    border-radius: 15px;
    width: 900px;
    position: fixed;
    left: 205px;
}

.header_description {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(243, 234, 234);
    text-align: center;
}


/* Home.html header */

.header_name h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: black;
    border: white 2px solid;
    text-align: center;
    width: 300px;
    padding: 5px;
    border-radius: 10px;
    position: relative;
    bottom: 15px;
    right: 7px;
    transition: 300ms;
    transform: translateY(3.5px);
}

.header_name h2:hover {
    transition: 400ms;
    color: rgb(51, 190, 51);
    transform: translateY(-3.5px);
}

.header_links {
    background-color: rgb(51, 190, 51);
    list-style: none;
    text-align: center;
    border-radius: 10px;
    margin-left: 308px;
    margin-right: -8px;
    height: 50px;
    position: relative;
    bottom: 81.4px;
}

.about_header,
.conduct_code,
.contact {
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

.about_header:hover,
.conduct_code:hover,
.contact:hover {
    transition: 400ms;
    color: white;
}

.about_header {
    width: 50px;
    margin-left: 600px;
    position: relative;
    top: 26px;
}

.conduct_code {
    width: 170px;
    margin-left: 300px;
}

.contact {
    width: 50px;
    height: 5px;
    margin-left: 820px;
    position: relative;
    bottom: 22px;
}


/* End of header */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    position: relative;
    top: 150px;
}

.register_topic {
    color: white;
    width: 440px;
    font-family: 'Roboto', sans-serif;
    margin-left: 180px;
    position: relative;
    bottom: 28px;
}

.register_topic:hover {
    transition: 400ms;
    color: rgb(4, 180, 4);
}

.registers_card {
    border: white solid 2px;
    width: 500px;
    height: 320px;
    border-radius: 15px;
    margin-left: 150px;
    transition: 300ms;
}

.registers_card:hover {
    transition: 400ms;
    border: rgb(4, 180, 4) 2px solid;
    transform: translateY(-10px)
}

.inputs {
    position: relative;
    bottom: 30px;
}

.name_text {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    position: relative;
    top: 65px;
}

.phone_text {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    position: relative;
    top: 35px;
}

.email_text {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    position: relative;
    top: 55px;
}

.adress_text {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    position: relative;
    top: 25px;
}

.necessary {
    color: red;
    position: relative;
    left: 245px;
    top: 25px;
}

.necessary2 {
    color: red;
    position: relative;
    left: 350px;
    top: 15px;
}

.name_text:hover,
.phone_text:hover,
.email_text:hover,
.adress_text:hover {
    transition: 200ms;
    color: rgb(4, 180, 4);
    filter: brightness(80%);
}

.name,
.telephone {
    color: white;
    background-color: rgb(46, 46, 46);
    width: 175px;
    height: 30px;
    border-radius: 10px;
}

.email,
.adress {
    color: white;
    background-color: rgb(46, 46, 46);
    width: 280px;
    height: 30px;
    border-radius: 10px;
}

#sex {
    background-color: rgb(46, 46, 46);
    cursor: pointer;
    position: relative;
    bottom: 210px;
    left: 350px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

.registers_button {
    color: black;
    cursor: pointer;
    background-color: white;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    position: relative;
    left: 70px;
    top: 35px;
}

.registers_button:hover {
    transition: 300ms;
    background-color: rgb(4, 180, 4);
    border: black solid 1px;
}


/*Card two*/

.entrances_topic {
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 220px;
    margin-left: 145px;
}

.entrances_topic:hover {
    transition: 400ms;
    color: rgb(4, 180, 4);
}

.entraces_card {
    border: white solid 2px;
    width: 500px;
    height: 320px;
    border-radius: 15px;
    transition: 300ms;
    position: relative;
    top: 28px;
}

.entraces_card:hover {
    transition: 400ms;
    border: rgb(4, 180, 4) 2px solid;
    transform: translateY(-10px);
}

.entrance_name_text,
.entrance_password {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    position: relative;
    top: 70px;
    margin-left: 100px;
}

.entrance_name_text:hover,
.entrance_password:hover {
    transition: 200ms;
    color: rgb(4, 180, 4);
    filter: brightness(90%);
}

.entrances_name,
.entrances_password {
    width: 175px;
    height: 30px;
    border-radius: 10px;
}

.entrances_button {
    color: black;
    cursor: pointer;
    background-color: white;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    position: relative;
    top: 160px;
    left: 190px;
}

.entrances_button:hover {
    transition: 300ms;
    background-color: rgb(4, 180, 4);
    border: black solid 1px;
}


/* Home.hmtl */

.logo_img {
    border-radius: 10px;
}