<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://image.flaticon.com/icons/svg/2395/2395865.svg" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/Style.css">
    <title> Contato </title>
</head>

<body>
    <header>
        <nav>
            <a href="index.html">
                <img class="monkey_image" src="https://image.flaticon.com/icons/svg/2395/2395865.svg" width="50px" alt="monkey image">
            </a>
        </nav>

        <nav class="links">
            <a href="about.html" class="about"> Sobre </a>
            <a href="courses.html" class="courses"> Cursos </a>
            <a href="services.html" class="services"> Serviços </a>
        </nav>
    </header>

    <section class="contact_cards">

        <div class="card1">
            <div class="card_info">
                <p class="email_contact" href="mailto:caio.expor@outlook.com"> Precisa de ajuda? <br> <br> </p>
                <label class="text_email"> Fale com nossa equipe Toque/Clique no Email <a href="">: Staffmonkey@outlook.com </a></label>
            </div>
        </div>

        <div class="card2">
            <div class="card_info">
                <p class="telefone_contact" href="tel:+5581984824146 "> Telefone <br> <br> </p>
                <label> Dúvidas, sugestões ou reclamações? Disque ou toque no Número: <a href="tel:"><button> (81) 9 8482 - 4146 </button></a></label>
            </div>
        </div>

    </section>

</body>

</html>