<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://image.flaticon.com/icons/svg/2395/2395865.svg" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/Style.css">
    <title> Cursos </title>
</head>

<body>

    <header>
        <nav>
            <a href="Index.html">
                <img class="monkey_image" src="https://image.flaticon.com/icons/svg/2395/2395865.svg" width="50px" alt="monkey image"></a>
        </nav>

        <div class="links">
            <a href="MkAbout.html" class="about"> Sobre </a>
            <a href="MKServices.html" class="services"> Serviços </a>
            <a href="MKContacts.html" class="contact"> Contato </a>
        </div>
    </header>

    <section class="cards">

        <div class="card" id="qXyzUjMCUf8">
            <img class="course_image_content" src="https://img.youtube.com/vi/qXyzUjMCUf8/0.jpg" width="400px" height="250px" alt=" imagem máquina copiadora">

            <div class="course_info">
                <p class="course_name"> Copiadora de chave </p>
                <p class="price"> 30.00 R$ </p>
                <p class="duration"> 31 Min </p>
            </div>

        </div>

        <div class="card" id="otv7vHeXpgU">
            <img class="course_image_content" src="https://img.youtube.com/vi/otv7vHeXpgU/maxresdefault.jpg" width="400px" height="250px" alt="imagem cofre">

            <div class="course_info">
                <p class="course_name"> Abertura e mecanismo de cofres </p>
                <p class="price"> 80.00 R$ </p>
                <p class="duration"> 40 seg </p>
            </div>

        </div>

        <div class="card" id="BP_LH52uIDo">
            <img class="course_image_content" src="https://img.youtube.com/vi/BP_LH52uIDo/maxresdefault.jpg" width="400px" height="250px" alt="imagem cadeado">

            <div class="course_info">
                <p class="course_name"> Cadeado abertura e Confecção de chave </p>
                <p class="price"> 50.00 R$ </p>
                <p class="duration"> 1 Min </p>
            </div>

        </div>

        <div class="card" id="IVcOw9KYLgM">
            <img class="course_image_content" src="https://img.youtube.com/vi/IVcOw9KYLgM/maxresdefault.jpg" width="400px" height="250px" alt="imagem fechadura">

            <div class="course_info">
                <p class="course_name"> Fechaduras </p>
                <p class="price"> 120.00 R$ </p>
                <p class="duration"> 3:20 Min </p>
            </div>

        </div>

        <div class="card" id="FOuIvUofyNo">
            <img class="course_image_content" src="https://img.youtube.com/vi/FOuIvUofyNo/mqdefault.jpg" width="400px" height="250px" alt="imagem chave yale">

            <div class="course_info">
                <p class="course_name"> Tipos de chave </p>
                <p class="price"> 30.00 R$ </p>
                <p class="duration"> 12 Min </p>
            </div>

        </div>

        <div class="card" id="m7IVOEChdbY">
            <img class="course_image_content" src="https://img.youtube.com/vi/m7IVOEChdbY/maxresdefault.jpg" width="400px" height="250px" alt="imagem cilindro">

            <div class="course_info">
                <p class="course_name"> Tipos de cilindro </p>
                <p class="price"> 15.00 R$ </p>
                <p class="duration"> 2 Min </p>
            </div>

        </div>

        <div class="modal_Overlay">
            <div class="modal">

                <a class="close_modal">
                    <i class="material-icons"> close </i>
                </a>

                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>

    </section>

    <script src="/JavaScript/MKscript.js"></script>

</body>

</html>