<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://image.flaticon.com/icons/svg/2395/2395865.svg" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/Style.css">
    <title> index </title>
</head>

<body>
    <header>
        <nav>
            <a href="Index.html">
                <img class="monkey_image" src="https://image.flaticon.com/icons/svg/2395/2395865.svg" alt="macaco home"></a>
        </nav>

        <nav class="links">
            <a href="about.html" class="about"> Sobre </a>
            <a href="courses.html" class="courses"> Cursos </a>
            <a href="services.html" class="services"> Serviços </a>
            <a href="contacts.html" class="contact"> Contato </a>
            <img class="twentyfour_hours" src="/assets/chaveiro 24h.jpg" alt="imagem serviço 24horas">
        </nav>
    </header>


    <main>
        <div class="content">
            <img class="image_content" src="/assets/monkey-logo home 2.jpg" alt="logo monkey">
        </div>


        <section class="topics">
            <div class="above_bars ">
                <div class="bar_one ">.</div>
            </div>

            <div class="professional_public">
                <div>
                    <img class="professional_img" src="/assets/Key.png" alt="profissional">
                    <p class="professional_name"> Profissional </p>
                </div>
            </div>

            <div class="client_public">
                <div>
                    <img class="client_img" src="/assets/clientes 3.jfif" alt="cliente">
                </div>
                <p class=" client_name "> Cliente </p>
            </div>
        </section>


        <section class="texts">
            <div class="grid_left">
                <ul>
                    <li>
                        <a class=" text_one " href="http://www.chavesland.com.br/blog/como-encontrar-o-ponto-ideal-para-seu-servico-de-chaveiro-2/ " target="_blink "> Pensando em ser um chaveiro? </a>
                    </li>
                </ul>


                <ul>
                    <li>
                        <a class=" text_two " href="https://www.chaveiro2000.com.br/informacoes-e-dicas/dicas-para-escolher-a-fechadura-digital-ideal/ " target="_blink "> Qual a fechadura digital ideal? </a>
                    </li>
                </ul>


                <ul>
                    <li>
                        <a class=" text_three " href="https://www.chaveiro2000.com.br/informacoes-e-dicas/dicas-para-escolher-a-fechadura-digital-ideal/ " target="_blink "> Saiba encontrar o ponto ideal para seu chaveiro </a>
                    </li>
                </ul>
            </div>

            <div class="grid_right">
                <ul>
                    <li>
                        <a class=" text_four " href="https://www.chaveiro2000.com.br/informacao/cuidado-chave-seu-carro/ " target="_blink "> Cuidado com as chaves do seu carro </a>
                    </li>
                </ul>



                <ul>
                    <li>
                        <a class=" text_five " href="http://www.roudrill.com.br/blog/servico-24-horas-vale-a-pena/ " target="_blink "> Serviço 24h vale apena? </a>
                    </li>
                </ul>


                <ul>
                    <li>
                        <a class=" text_six " href="https://chaveirozonasul24h.com.br/tipos-de-chaves-principais-modelos-e-as-suas-vantagens/ " target="_blink "> Conheça os principais tipos de chaves </a>
                    </li>
                </ul>
            </div>


            <div class="bars_below ">
                <div class="bar_two ">.</div>
            </div>
        </section>
    </main>
</body>

</html>