<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://image.flaticon.com/icons/svg/2395/2395865.svg" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/Style.css">
    <title> Serviços </title>
</head>

<body>
    <header>
        <nav>
            <a href="Index.html">
                <img class="monkey_image" src="https://image.flaticon.com/icons/svg/2395/2395865.svg" width="50px" alt="monkey image">
            </a>
        </nav>

        <nav class="links">
            <a href="about.html" class="about"> Sobre </a>
            <a href="courses.html" class="courses"> Cursos </a>
            <a href="contacts.html" class="contact"> Contato </a>
            <img src="/assets/chaveiro 24h.jpg" class="twentyfour_hours" width="100px" height="50px" alt="imagem serviço 24horas">
        </nav>
    </header>

    <section class="services_grid">

        <div class="key_copy_list">
            <div class="copy_service_info">
                <p class="key_copy"> Cópias de chave em geral preços </p>
                <p class="yale_key_copy"> Chave comum <br> R$ 6.00 </br>
                </p>
                <p class="tetra_key_copy"> Chave tetra <br> R$ 25.00 </br>
                </p>
                <p class="motorcycle_key_copy"> Chave de moto <br> R$ 25 </br>
                </p>
                <p class="car_key_copy"> Chave de carro comum <br> R$ 25 </br>
                </p>
                <p class="car_key_copy2"> Codificada de carro <br> R$ 150 </br>
                </p>
            </div>
        </div>

        <div class="open_list">
            <div class="open_service_info">
                <p class="open_services"> Abertura de porta chave comum </p>
                <p class="open_soprano_lock"> Fechadura Soprano <br> R$ 50.00 </br>
                </p>
                <p class="open_stam_lock"> Fechadura Stam <br> R$ 50.00 </br>
                </p>
                <p class="open_papaiz_lock"> Fechadura Papaiz <br> R$ 70.00 </br>
                </p>
                <p class="open_silvana_lock"> Fechadura Silvana <br> R$ 50.00 </br>
                </p>
                <p class="open_lafonte_lock"> Fechadura La fonte <br> R$ 80.00 </br>
                </p>
            </div>
        </div>

        <div class="open_list2">
            <div class="open_service_info2">
                <p class="open_services2"> Abertura de porta chave comum </p>
                <p class="open_3f_lock"> Fechadura 3F <br> R$ 50.00 </br>
                </p>
                <p class="open_aliança_lock"> Fechadura Aliança <br> R$ 50.00 </br>
                </p>
                <p class="open_haga_lock"> Fechadura Haga <br> R$ 50.00 </br>
                </p>
                <p class="open_pado_lock"> Fechadura Pado <br> R$ 50.00 </br>
                </p>
                <p class="open_imab_lock"> Fechadura Imab <br> R$ 70.00 </br>
                </p>
            </div>
        </div>


        <div class="open_list3">
            <div class="open_service_info3">
                <p class="open_services3"> Aberturas especiais </p>
                <p class="open_closet_lock"> Fechadura de Armário <br> R$ 30.00 </br>
                </p>
                <p class="open_motorcycletank"> Fechadura Tanque de Moto <br> R$ 35.00 </br>
                </p>
                <p class="open_papaiztetra_lock"> Fechadura Papaiz Tetra <br> R$ 100.00 </br>
                </p>
                <p class="open_padlock"> Cadeado em Geral <br> R$ 30.00 </br>
                </p>
                <p class="open_stamhangs"> Trava Tetra Stam <br> R$ 80.00 </br>
                </p>
            </div>
        </div>

        <div class="confection_list">
            <div class="confection_service_info">
                <p class="confection_key_service"> Confecção de chaves </p>
                <p class="confection_yale_key"> Comum <br> R$ 32.00 </br>
                </p>
                <p class="confection_padlock_key"> Cadeado <br> A partir de: R$ 12.00 </br>
                </p>
                <p class="confection_tetra_key"> Tetra <br> R$ 100.00 </br>
                </p>
                <p class="confection_motorcycle_key"> Moto <br> R$ 50.00 </br>
                </p>
                <p class="confection_car_key"> Carro <br> R$ 50.00 (R$ 150 + Cod.) </br>
                </p>
            </div>
        </div>

        <div class="instalation_list">
            <div class="instalation_service_info">
                <p class="instalation_lock_service"> Instalações </p>
                <p class="instalation_overlap_lock"> Fechadura Sobrepor <br> R$ 25.00 </br>
                </p>
                <p class="instalation_external_lock"> Fechadura Externa <br> R$ 30.00 </br>
                </p>
                <p class="instalation_internal_lock"> Fechadura Interna <br> R$ 30.00 </br>
                </p>
                <p class="instalation_glassdoor_lock"> Fechadura P. Vidro <br> R$ 50.00 </br>
                </p>
                <p class="instalation_slidingdoor_lock"> Fechadura Porta de Correr <br> R$ 40.00 </br>
                </p>
            </div>
        </div>

    </section>

</body>

</html>