@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
* {
    padding: 0;
    border: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background-color: #E5E5E5;
}

.links ul {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 50px;
    list-style: none;
}

.links ul li {
    margin-left: 20px;
}

.links li a {
    color: #444B59;
    font-weight: 300;
    font-size: 100%;
    font-size: 1.25rem;
}

.container1 {
    margin: 100px auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
    width: 640px;
}

.container1 h1 {
    font-family: 'Overpass', sans-serif;
    font-weight: 800;
    font-size: 2.25rem;
    color: #444B59;
}

.container2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 477px;
    margin: 36px 0;
}

.container2 label {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 1.75rem;
    color: #444B59;
    margin: 16px 0;
}

.container2 input {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    /* font-size: 1.75rem; */
    color: #444B59;
}

.container3 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 477px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 1.75rem;
    color: #444B59;
}

.container3 label {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 1.75rem;
    color: #444B59;
    margin: 16px 0;
}


/* .container label {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 1.75rem;
    color: #444B59;
}

.container .name {
    width: 250px;
    height: 25px;
    padding: 24px, 32px, 24px, 32px;
    border: #789ADE 1.5px solid;
    border-radius: 80px;
} */