<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Foodfy </title>
    <link rel="stylesheet" href="/style/style.css">
</head>


<body>
    <header>
        <div class="menu_container">
            <img class="header_home_img" href="FoodfyHome" src="/assets/logo.png" alt=" Logo Foodfy "> <a class="header_link" href="/views/about.html"> Sobre </a> <a class="header_link" href="/views/recipes.html"> Receitas </a> </div>
    </header>

    <section class="section_one">
        <div class="pink_area">
            <h1 class="h1_text"> As melhores receitas </h1>
            <p class="gray_text"> Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro. </p>
            <img src="/assets/chef.png" alt=" Imagem chef ">
        </div>
    </section>

    <div class="h2_text">
        <h2> Mais acessadas </h2>
    </div>

    <section class="cards">
        <div class="card">
            <img class="card_image_content" width=" 300px " src="/assets/burger.png" alt="Hamburger">

            <div class="card_info">
                <p class="food_name"> Triplo bacon burger </p>
                <div class="food_cooker"> por Jorge Relato </div>
            </div>
        </div>

        <div class="card">
            <img class="card_image_content" width=" 300px " src="/assets/pizza.png" alt="Pizza">

            <div class="card_info">
                <p class="food_name"> Pizza 4 estações </p>
                <div class="food_cooker"> por Fabiana melo </div>
            </div>
        </div>

        <div class="card">
            <img class="card_image_content" width=" 300px " src="/assets/espaguete.png" alt="Espaguete">

            <div class="card_info">
                <p class="food_name"> Espague ao alho </p>
                <div class="food_cooker"> por júlia Kinoto </div>
            </div>
        </div>

        <div class="card">
            <img class="card_image_content" width=" 300px " src="/assets/lasanha.png" alt="Lasanha">

            <div class="card_info">
                <p class="food_name"> Lasanha mac n' cheese </p>
                <div class="food_cooker"> por Juliano Vieira </div>
            </div>
        </div>

        <div class="card">
            <img class="card_image_content" width=" 300px " src="/assets/doce.png" alt="Doce">

            <div class="card_info">
                <p class="food_name"> Docinhos pão-do-céu </p>
                <div class="food_cooker"> por Ricardo Golvea </div>
            </div>
        </div>

        <div class="card">
            <img class="card_image_content" width=" 300px " src="/assets/asinhas.png" alt="Asinhas">

            <div class="card_info">
                <p class="food_name"> Asinhas de frango ao barbecue </p>
                <div class="food_cooker"> por Vania Steroski </div>
            </div>
        </div>
    </section>

    <footer>
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>


</body>

</html>