<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Foodfy </title>
    <link rel="stylesheet" href="/style/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>


<body>
    <header>
        <img href="FoodfyHome" src="assets/logo.png" alt=" Logo Foodfy ">
        <a href="/views/about.html"> Sobre </a>
        <a class="recipes" href="/views/recipes.html"> Receitas </a>
    </header>

    <section class="cards">

        <div class="card" id="burger">
            <img class="card_image_content" width=" 300px " src="/assets/burger.png" alt="Hamburger">

            <div class="card_info">
                <p class="food_name"> Triplo bacon burger </p>
                <div class="food_cooker"> por Jorge Relato </div>
            </div>
        </div>

        <div class="card" id="pizza">
            <img class="card_image_content" width=" 300px " src="/assets/pizza.png" alt="Hamburger">

            <div class="card_info">
                <p class="food_name"> Pizza 4 estações </p>
                <div class="food_cooker"> por Fabiana melo </div>
            </div>
        </div>

        <div class="card" id="espaguete">
            <img class="card_image_content" width=" 300px " src="/assets/espaguete.png" alt="Hamburger">

            <div class="card_info">
                <p class="food_name"> Espague ao alho </p>
                <div class="food_cooker"> por júlia Kinoto </div>
            </div>
        </div>

        <div class="card" id="lasanha">
            <img class="card_image_content" width=" 300px " src="/assets/lasanha.png" alt="Hamburger">

            <div class="card_info">
                <p class="food_name"> Lasanha mac n' cheese </p>
                <div class="food_cooker"> por Juliano Vieira </div>
            </div>
        </div>

        <div class="card" id="doce">
            <img class="card_image_content" width=" 300px " src="/assets/doce.png" alt="Hamburger">

            <div class="card_info">
                <p class="food_name"> Docinhos pão-do-céu </p>
                <div class="food_cooker"> por Ricardo Golvea </div>
            </div>
        </div>

        <div class="card" id="asinhas">
            <img class="card_image_content" width=" 300px " src="/assets/asinhas.png" alt="Hamburger">

            <div class="card_info">
                <p class="food_name"> Asinhas de frango ao barbecue </p>
                <div class="food_cooker"> por Vania Steroski </div>
            </div>
        </div>

        <div class="card" id="burger">
            <img class="card_image_content" width=" 300px " src="/assets/burger.png" alt="Hamburger">

            <div class="card_info">
                <p class="food_name"> Triplo bacon burger </p>
                <div class="food_cooker"> por Jorge Relato </div>
            </div>
        </div>

        <div class="card" id="pizza">
            <img class="card_image_content" width=" 300px " src="/assets/pizza.png" alt="Hamburger">

            <div class="card_info">
                <p class="food_name"> Pizza 4 estações </p>
                <div class="food_cooker"> por Fabiana melo </div>
            </div>
        </div>

        <div class="card" id="espaguete">
            <img class="card_image_content" width=" 300px " src="/assets/espaguete.png" alt="Hamburger">

            <div class="card_info">
                <p class="food_name"> Espague ao alho </p>
                <div class="food_cooker"> por júlia Kinoto </div>
            </div>
        </div>

        <div class="card" id="lasanha">
            <img class="card_image_content" width=" 300px " src="/assets/lasanha.png" alt="Hamburger">

            <div class="card_info">
                <p class="food_name"> Lasanha mac n' cheese </p>
                <div class="food_cooker"> por Juliano Vieira </div>
            </div>
        </div>

        <div class="card" id="doce">
            <img class="card_image_content" width=" 300px " src="/assets/doce.png" alt="Hamburger">

            <div class="card_info">
                <p class="food_name"> Docinhos pão-do-céu </p>
                <div class="food_cooker"> por Ricardo Golvea </div>
            </div>
        </div>

        <div class="card" id="asinhas">
            <img class="card_image_content" width=" 300px " src="/assets/asinhas.png" alt="Hamburger">

            <div class="card_info">
                <p class="food_name"> Asinhas de frango ao barbecue </p>
                <div class="food_cooker"> por Vania Steroski </div>
            </div>
        </div>

    </section>

    <footer>
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>

    <div class="modalOverlay">
        <div class="modal">

            <img class="modal_img" src="" alt="">
            <p class="modal_foodname"> </p>
            <p class="modal_creator"> </p>
            <a class="close_modal"> Fechar modal </a>
        </div>
    </div>

    <script src="/script/script.js"></script>
</body>

</html>