<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home </title>
    <link rel="icon" href="/imgs/javascript background.webp" type="image/x-icon">
    <link rel="stylesheet" href="/style/style.css">
</head>

<body background="/imgs/javascript background.webp" onload="load()">

    <header>
        <div>
            <div class="header_name">
                <a href="https://braziljs.org/" target="_blink" class="community_link1">
                    <h2 class="community_link2"> Open Community </h2>
                </a>
            </div>

            <nav class="header_links">
                <ul class="menu_itens">
                    <a href="https://braziljs.org/coc/" target="_blink">
                        <li class="about_header"> Sobre </li>
                    </a>
                    <a href="https://braziljs.org/sobre/" target="_blink">
                        <li class="conduct_code"> Código de conduta </li>
                    </a>
                    <a href="https://braziljs.org/contato/" target="_blink">
                        <li class="contact"> Contato </li>
                    </a>
                </ul>
            </nav>
        </div>
    </header>

    <section class="primary">


    </section>

    <script src="/script/scripts.js">
    </script>

</body>

</html>