<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Index </title>
    <link rel="icon" href="/imgs/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>

    <header>
        <div class="header_itens">
            <h2 class="header_description"> Open Community </h2>
        </div>
    </header>

    <datagrid class="grid">
        <section class="register">

            <h1 class="register_topic"> Primeira vez aqui? <br> Cria sua conta e vamo junto com a gente </h1>

            <div class="registers_card">
                <div class="inputs">
                    <label class="name_text"> Nome: <input class="name" type="text" placeholder="Ex: Ruan Ribeiro"> </label>
                    <p class="necessary"> * </p>
                    <label class="phone_text"> Telefone: <input class="telefone" type="text" placeholder="Ex: (81) 9 8374 - 4293"> </label>
                    <label class="email_text"> <br> E-mail: <input class="email" type="text" placeholder="Ex: Jhon_90@example.com"> </label>
                    <p class="necessary2"> * </p>
                    <label class="adress_text"> Endereço: <input class="endereço" type="text" placeholder="Ex: Rua Carlos antônio N° 340, jardim silvania"> </label>
                </div>
                <select id="sex">
                    <option value="Male"> Masculino </option>
                    <option value="Female"> Feminino </option>
                    <option value="Neutral"> Neutro </option>
                </select>
                <button class="registers_button"> Enviar </button>
            </div>
        </section>


        <section class="entraces">

            <h1 class="entrances_topic"> Bem vindo de novo ! </h1>

            <div class="entraces_card">
                <p class="entrance_name_text"> Nome: <input class="entrances_name" type="text" placeholder="Ex: Ruan Ribeiro"> </p>
                <p class="entrance_password"> Senha: <input class="entrances_password" type="text" placeholder="Ex: Jhon_90@example.com"> </p>
                <button class="entrances_button"> Enviar </button>
        </section>
    </datagrid>

    <script src="/script/scripts.js">
    </script>
</body>

</html>